 *{
     margin: 0; padding: 0; 

 }

 #play {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    position: absolute;
     height: 100%;
     width: 100%;
    
 }
 
 .joinOuterContainer {
     position: absolute;
     height: 100%;
     width: 100%;
    background-image: url(https://i.pinimg.com/564x/e8/a6/8a/e8a68a3d007d41fd5c20da76f9f2f278.jpg);
   background-size: 50%;

    
  
  
    text-align: center;
}

.joinInnerContainer{
    
  margin-top:7.5%; 

  height: 300px;
 

}

#joinText > *{
    font-family: "Comic Sans MS", cursive, sans-serif;
color:#1d2d50

}

#play {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 140px;
}

